{% extends 'base.html.twig' %}

{% block title %}Hello City!{% endblock %}

{% block body %}
    
    <img src="{{ asset('/images/togo.png') }}" alt="Equipiers" class="h-32 mt-12 rounded shadow-md">
    <h1 class="mt-5 text-3xl sm: text-5xl font-semibold text-indigo-600">🇹🇬 BIENVENU A LOME! 🇹🇬 </h1>

    <p class="text-lg text-gray-800">Il est actuellement  {{ 'now'|date('h:i A')}}.</p>

{% endblock %}