{% extends 'base.html.twig' %}

{% block body %}
    
    <h1>Hello from Lomé!</h1>

    <p>It's currently {{ 'now'|date('h:i A')}}.</p>


    <footer>
        <p>
            &copy; Copyright {{ 'now'|date('Y')}}  &middot;
            <a href="#">About Us</a>
        </p>
    </footer>

{% endblock %}